
<div class="container w-50 shadow bg-white mt-5 p-3">
  <h1>Añadir Listas(generos)</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, class:"form-control" %>
    <%= f.input :image_url, class:"form-control" %>
    <%= f.submit "Make list", class:"btn btn-primary mb-4"%>
  <% end %>
</div>
