<h1>Listas(generos)</h1>

<%= @list.name %>
<% @list.bookmarks.each do |bookmark| %>
  <h1><%= bookmark.movie.title %></h1>
  <%= bookmark.comment %>
  <img src="<%= bookmark.movie.poster_url %>", height="300px">
<% end %>
